*{
    margin:0;
    padding: 0;
    font-family: "Barlow Semi Condensed";
}
html,body{
    max-width: 100vw;
}
body{
    background-color: hsl(0, 0%, 81%);
}
main{
    max-width: 100%;
    padding: 0 8px;
}
.post{
    max-width: 100%;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #ffffff;
}
.first-post{
    background-image: url("../Images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 75% 0%;
}
.violet{
    background-color: hsl(263, 55%, 52%);
    color: #ffffff;
}
.grayish-blue{
    background-color: hsl(217, 19%, 35%);
    color: #ffffff;

}
.blackish-blue{
    background-color: hsl(219, 29%, 14%);
    color: #ffffff;
}
img{
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}
p{
    font-size: 16px;
    line-height:26px;
}
h3{
    font-size: 16px;
    line-height: 26px;
}
h2{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 4px;

}

.user{
    display: grid;
    grid-template-columns: 60px auto;
    grid-auto-rows: minmax(20px,20px);
    margin-bottom: 8px;
}
.user img{
    grid-row: 1/3;
}
.user h3{
    grid-row: 1/2;

}
.user p{
    grid-row: 2/3;
}

@media only screen and (min-width:768px) {
    main{
        max-width: 80%;
        margin: 24px auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "first-post first-post second-post fifth-post"
        "third-post fourth-post fourth-post fifth-post"
        ;
    }
    .first-post{
        grid-area: first-post;
    }
    .second-post{
        grid-area: second-post;
    }
    .third-post{
        grid-area: third-post;
    }
    .fourth-post{
        grid-area: fourth-post;

    }
    .fifth-post{
        grid-area: fifth-post;

    }
    /* In order to fit in the height as required. May affect readability */
    p{
        line-height:19px;
    }

    
}